@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Inter:wght@300;400;500&display=swap");

@import "tailwindcss";

@theme {
  /* 2. Bind the imported font to a Tailwind utility variable */
  --font-serif-display: "DM Serif Display", ui-serif, Georgia, serif;
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  --font-mono: ui-monospace, "Cascadia Code", "Fira Code", monospace;

  /* Your existing color theme configurations */
  --color-dark-bg: #0a0e1a;
  --color-amber: #e8a020;
  --color-amber-bg: ##e8a020cc;
  --color-button-text: #1a1000;
  --color-text-primary: #ffffff;
  --color-text-secodary: #ffffff80;
  --color-text-muted: #ffffff4d;
  --color-surface-1: #ffffff66;
  --color-surface-2: #ffffff99;
  --color-border: #ffffff1a;
  --color-border-strong: #ffffff26;
  --color-border-focus: #e8a020b3;
}
